header{
    background-color:#4EA0FF ;
    background-image: url(./img/pattern.png);
    background-repeat: repeat;
    background-size: contain;
    height: 200px;
}

#logo{  
    width: 350px;
    height: 300px;
}

.grigio{
    color: #808080;
}

#azzurro{
    color: #20A9E5;
}

.tim-description{
    font-size: 12px;
}

.giallo{
    background-color: yellow;
}

thead{
    background-color: #20A9E5;
    color: white;
    height: 20px;
    text-align: left;
}

tbody{
    height: 250px;
    text-align: left;
}

.dispari{
    background-color: #B1E5F2;
}

.col{
    width: 15%;
}