header{
    background-color:#4EA0FF ;
    background-image: url(./img/pattern.png);
    background-repeat: repeat;
    background-size: contain;
    height: 200px;
}

#logo{  
    width: 350px;
    height: 300px;
}

.grigio{
    color: #808080;
}

#azzurro{
    color: #20A9E5;
}

.tim-description{
    font-size: 12px;
}

.giallo{
    background-color: yellow;
}